{% extends "FOSUserBundle::layout.html.twig" %}

{% block login_block %}
<div id="login">
	<span><a href="{{ path('fos_user_registration_register') }}">Sign up</a></span>
</div>
{% endblock %}


{% block fos_user_content %}
{% if error %}
    <div class="login_error error">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
<br/>
<h2>Welcome to the Friending Library.</h2>
It's still under works, but soon you'll be able to add your library, and share with others. 
{% endblock fos_user_content %}