<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<title>{% block title %}The Friending Library{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/library/css/main.css') }}" type="text/css" />
		{% endblock %}
		{% block jquery %}
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		{% endblock %}
	</head>
	<body>
	<div id="header">
		<img src="" alt="the friending library" />
		<div id="main_nav">
			<span class="nav_links">
				{% block main_nav %}
					{% block home_page_link %}<a href="{{ path('_homepage') }}">Home</a>{% endblock %}
					<a href="{{ path('book_search') }}">Find a book</a>
					{% if app.user %}
						<a href="{{ path('full_library') }}">Full Library</a>
						<a href="{{ path('my_library') }}">My Library</a>
					{% endif %}
				{% endblock %}
			</span>
			{% block login_block %}
				<div id="login">
				{% if app.user %}
					<span><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></span>
					<span><a href="{{ path('fos_user_security_logout') }}">Logout</a></span>
				{% else %}
					<span><a href="{{ path('fos_user_registration_register') }}">Sign up</a></span>
					<span><a href="{{ path('fos_user_security_login') }}">Login</a></span>
				{% endif %}
				</div>
			{% endblock %}
		</div>
	</div>

	<div id="content">
		{% block body %}{% endblock %}
	</div>
	<div id="footer">
		{% block footer %}{% endblock %}
	</div>
	{% block javascripts %}{% endblock %}
	</body>
</html>
