{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/library/css/tables.css') }}" type="text/css" />
{% endblock %}

{% block body %}
All the books currently registered:
<table id="fullLibrary" class="tablesorter">
	<thead>
		<th>Copies</th>
		<th>Title</th>
		<th>Author</th>
		<th>Who Has It</th>
	</thead>
{% for book_array in books %}
	<tr>
		<td>{{ book_array.count }}</td>
		<td><a href="{{ path('book_display', { 'isbn': book_array.book.isbn }) }}">{{ book_array.book.title }}</a></td>
		<td><a href="{{ path('book_display', { 'isbn': book_array.book.isbn }) }}">{{ book_array.book.author }}</a></td>
		{% if book_array.count > 1%}
			<td><a href="{{ path('book_display', { 'isbn': book_array.book.isbn }) }}">VIEW BOOK TO SEE OWNERS</a></td>
		{% else %}
			{#TODO: Link to owner (not user) #}
			<td class="who-has-it">
				{% if book_array.current_borrower %}
					<a class="borrower" href="{{ path('fos_user_profile_show') }}">{{ book_array.current_borrower.username }}</a>
				{% endif %}
				<span class="owner">
					<a href="{{ path('fos_user_profile_show') }}">{{ book_array.book_owner.username }}</a>
				</span>
			</td>
		{% endif %}
	</tr>
{% endfor %}
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/library/js/jquery.tablesorter.js') }}"></script>
<script>
$(document).ready(function() 
    { 
        $("#fullLibrary").tablesorter({sortList: [[0,1], [1,0], [2,1]]}); 
    } 
);
</script>
{% endblock %}