{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/library/css/tables.css') }}" type="text/css" />
{% endblock %}

{% block body %}
All the books currently registered:
<table id="fullLibrary" class="tablesorter">
	<thead>
		<th>Copies</th>
		<th>Title</th>
		<th>Author</th>
		<th>Owner</th>
	</thead>
{% for book_owner in books %}
	<tr>
		<td>{{ book_owner[1] }}</td>
		<td><a href="{{ path('book_display', { 'isbn': book_owner[0].book.isbn }) }}">{{ book_owner[0].book.title }}</a></td>
		<td><a href="{{ path('book_display', { 'isbn': book_owner[0].book.isbn }) }}">{{ book_owner[0].book.author }}</a></td>
		{% if book_owner[1] > 1%}
			<td><a href="{{ path('book_display', { 'isbn': book_owner[0].book.isbn }) }}">VIEW BOOK TO SEE OWNERS</a></td>
		{% else %}
			{#TODO: Link to owner#}
			<td><a href="{{ path('fos_user_profile_show') }}">{{ book_owner[0].owner.username }}</a></td>
		{% endif %}
	</tr>
{% endfor %}
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/library/js/jquery.tablesorter.js') }}"></script>
<script>
$(document).ready(function() 
    { 
        $("#fullLibrary").tablesorter({sortList: [[0,1], [1,0], [2,1]]}); 
    } 
);
</script>
{% endblock %}