{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/library/css/tables.css') }}" type="text/css" />
{% endblock %}

{% block body %}
All the books currently registered:
<table id="fullLibrary" class="tablesorter">
	<thead>
		<th>Copies</th>
		<th>Title</th>
		<th>Author</th>
		<th>Owner</th>
		<th>Who Has It</th>
	</thead>
{% for book_array in books %}
	<tr>
		<td>{{ book_array.count }}</td>
		<td><a href="{{ path('book_display', { 'isbn': book_array.book.isbn }) }}">{{ book_array.book.title }}</a></td>
		<td><a href="{{ path('author_search', { 'author': book_array.book.author }) }}">{{ book_array.book.author }}</a></td>
		<td>		
			{% if book_array.count > 1 %}
				<a href="{{ path('book_display', { 'isbn': book_array.book.isbn }) }}">VIEW ALL OWNERS</a>
			{% else %}
				<a href="{{ path('their_library', {'username': book_array.book_owner.username}) }}">{{ book_array.book_owner.username }}</a>
			{% endif %}
		</td>
		<td class="who-has-it">
			{% if book_array.count < 2 and book_array.current_borrower %}
				<a class="borrower" href="{{ path('their_library', {'username': book_array.current_borrower.username}) }}">{{ book_array.current_borrower.username }}</a> 
			{% else %}
				<span>&nbsp;</span>
			{% endif %}
		</td>
	</tr>
{% endfor %}
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/library/js/jquery.tablesorter.js') }}"></script>
<script>
$(document).ready(function() 
    { 
        $("#fullLibrary").tablesorter({sortList: [[0,1], [1,0], [2,1]]}); 
    } 
);
</script>
{% endblock %}