{% extends '::base.html.twig' %}

{% block title %}TFL - Book: {{ book.title }}{% endblock %}

        
{% block body %}
	Title:
	<h1>{{ book.title }}</h1>
	<div class="book">
		<h4>{{ book.author }}</h4>
		<img src="{{ book.image }}" alt="{{ book.title }}" />
		<p>Isnb: {{ book.isbn }}</p>
	</div>
	{% set owned = 0 %}
	
	{%  if books_in_library %}
		{% for book_in_library in books_in_library %}
			<hr/>
			{% if book_in_library.user_is_owner %}
				<p>You own this book</p>
				{% set owned = 1 %}
				{% if book_in_library.borrowed %}
					<p class="error">Currently borrowed by: {{ book_in_library.borrowed.borrowedBy.username }}</p>
				{% endif %}
			{% else %}
				<pre>owner id: {{ book_in_library.book_owner.owner.id }}</pre>
				<pre>username: {{ book_in_library.book_owner.owner.username }}</pre>
				<pre>email: {{ book_in_library.book_owner.owner.email }}</pre>
				<pre>lastLogin: {{ book_in_library.book_owner.owner.lastLogin|date("m/d/Y \\a\\t g:ia") }}</pre>
				{% if not book_in_library.borrowed %}
					<a href="{{ path('borrow_book', { 'user_book_id': book_in_library.book_owner.id }) }}" class="borrow">Borrow this Book</a>
				{% else %}
					<p class="error">Currently borrowed by: {{ book_in_library.borrowed.borrowedBy.username }}</p>
					{% if book_in_library.borrowed.borrowedBy.id != app.user.id %}
						<a href="{{ path('borrow_book', { 'user_book_id': book_in_library.book_owner.id }) }}" class="borrow">Join Waitlist (TODO)</a>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% else %}
		<hr/>
		<h3>This book is not owned by anyone</h3>
		< Contact us > if there is an error
	{% endif %}
	
	{% if not owned %}
		<hr/>
		<p><a href="{{ path('add_to_library', { 'isbn': book.isbn }) }}" class="add_to_library">Add book your to library</a></p>
	{% endif %}
	
{% endblock %}


{% block javascripts %}

{% endblock %}