{% extends '::base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/library/css/search.css') }}" type="text/css" />
{% endblock %}

{% block title %}Search for a book{% endblock %}

{% block body %}
	<div id="isbn_form">
		<form action="{{ path('book_search') }}" method="post" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    <input type="submit" name="isbn" />
		</form>
	</div>

	<div id="keywords_form">
		<form action="{{ path('book_search') }}" method="post" {{ form_enctype(keywords_form) }}>
		    {{ form_widget(keywords_form) }}
		    <input type="submit" name="keywords" />
		</form>
	</div>
	
	{% if book %}
		<div class="book">
			<h3>{{ book.title }}</h3>
			<h4>{{ book.author }}</h4>
			<img src="{{ book.image }}" alt="{{ book.title }}" />
			<a href="{{ path('add_to_library', { 'isbn': book.identifier.ISBN2 }) }}" class="add_to_library">Add book to library</a>
			<a href="{{ path('book_display', { 'isbn': book.identifier.ISBN2 }) }}" class="book_display">Display book</a>
		</div>
	{% elseif book_array %}
		<ul>
		<h1>Books in Library</h1>
		{% for book in book_array.in_library %}
			<li class="book">
				<h3>{{ book.title }}</h3>
				<h4>{{ book.author }}</h4>
				<p class="isbn"><span>ISBN: </span>{{ book.isbn }}</p>
				<a href="{{ path('book_display', { 'isbn': book.isbn }) }}" class="book_image">
					<img src="{{ book.image }}" alt="{{ book.title }}" />
				</a>
				<a href="{{ path('add_to_library', { 'isbn': book.isbn }) }}" class="add_to_library">Add book to library</a>
				<a href="{{ path('book_display', { 'isbn': book.isbn }) }}" class="book_display">Display book</a>
			</li>
		{% endfor %}
		</ul>
		<ul>
		<h1>Google Search Results</h1>
		{% for book in book_array.from_google %}
			<li class="book">
				<h3>{{ book.title }}</h3>
				<h4>{{ book.author }}</h4>
				<p>{% autoescape false %}{{ book.description }}{% endautoescape %}</p>
				<p class="publisher"><span>Publisher: </span>{{ book.publisher }}: {{ book.date|date("m/d/Y") }}</p>
				<p class="isbn"><span>ISBN: </span>{{ book.identifier.ISBN2 }}</p>
				<a href="{{ path('book_display', { 'isbn': book.identifier.ISBN2 }) }}" class="book_image">
					<img src="{{ book.image }}" alt="{{ book.title }}" />
				</a>
				{% if book.identifier.ISBN2 %}
					<a href="{{ path('add_to_library', { 'isbn': book.identifier.ISBN2 }) }}" class="add_to_library">Add book to library</a>
					<a href="{{ path('book_display', { 'isbn': book.identifier.ISBN2 }) }}" class="book_display">Display book</a>
				{% else %}
					<p class="not_found error">Google Books API did not provide an ISBN for this book</p>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	{% elseif book_not_found %}
		<div class="book">
			We were unable to find a book through the Google Books API based on your criteria. 
			< Contact us > so we can fix this problem. 
		</div>
	{% endif %}

{% endblock %}
